[submodule "aoKicad"]
	path = aoKicad
	url = git@github.com:holmesrichards/aoKicad.git
[submodule "Hardware/lib/Kosmo_panel"]
	path = Hardware/lib/Kosmo_panel
	url = git@github.com:holmesrichards/Kosmo_panel.git
